@import 'tailwindcss';


:root {
  scroll-behavior: smooth; /* smooth anchor scrolling */
  /*Shadows*/
  --box-shadow: 0 0 8px 4px oklch(0% 0 0deg / 0.5);
  --img-shadow: 0 2px 4px oklch(0% 0 0deg / 0.5);
}

@theme {
  /* Main Colors */
  --color-primary: oklch(48.29% 0.202 273deg);
  --color-dark: oklch(21.18% 0.01 273deg);
  --color-muted: oklch(55.81% 0.04 251.7deg);

  /* Text */
  --color-txt-primary: var(--color-dark);
  --color-txt-muted: var(--color-muted);
  --color-txt-highlight: var(--color-primary);

  /* Components */

  /*Fonts*/
}

.dark {
  /* Components */
}

@layer components {

  .flex-div {
    @apply flex justify-center;
  }
}
